<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>demos</title>
    <link href="https://unpkg.com/@vbarbarosh/smcss@1.2.0/dist/reset.css" rel="stylesheet">
    <link id="smcss" href="https://unpkg.com/@vbarbarosh/smcss@1.2.0/dist/sm.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
</head>
<body>

<div id="app">

    <div>
        <vb-data-vars v-slot="vars" :vars="{selection: []}">
            <vb-data-fetch v-slot="fetch" :fn="win.snippets_list" auto>
                <button-json :value="fetch.response"></button-json>
                <button-refresh @click="fetch.refresh"></button-refresh>
                <vb-data-filter v-slot="filter" :items="fetch.response ?? []" prop="file">
                    <div class="flex-row gap15">
                        <div>
                            <input v-model="filter.pattern">
                            <vb-table :items="filter.computed_items" :columns="[{label: 'file'}]" :selection="vars.selection"></vb-table>
                        </div>
                        <div class="flex-fluid">
                            <div v-for="item in vars.selection">
                                <h2>{{ item.title }}</h2>
                                <markdown :value="item.body"></markdown>
                            </div>
                        </div>
                    </div>
                </vb-data-filter>
            </vb-data-fetch>
        </vb-data-vars>
    </div>
</div>

<script src="https://unpkg.com/axios@1.9.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/@vbarbarosh/dd@1.9.0/dist/dd.js"></script>
<script src="https://unpkg.com/jquery@3.7.1/dist/jquery.js"></script>
<script src="https://unpkg.com/bluebird@3.7.2/js/browser/bluebird.js"></script>
<script src="https://unpkg.com/vue@3.5.12/dist/vue.global.js"></script>

<script>
    const app = Vue.createApp({
        data: function () {
            return {};
        },
    });
</script>

<script src="../lib/js/services/docker.js"></script>
<script src="../lib/js/services/mongo.js"></script>
<script src="../lib/js/services/snippets.js"></script>
<script src="../lib/js/utils.js"></script>

<script src="../lib/components/ai/ai-background.js"></script>
<script src="../lib/components/breadcrumbs/vb-breadcrumbs-item.js"></script>
<script src="../lib/components/breadcrumbs/vb-breadcrumbs.js"></script>
<script src="../lib/components/buttons/button-blue.js"></script>
<script src="../lib/components/buttons/button-green.js"></script>
<script src="../lib/components/buttons/button-json.js"></script>
<script src="../lib/components/buttons/button-red.js"></script>
<script src="../lib/components/buttons/button-refresh.js"></script>
<script src="../lib/components/buttons/button-transparent.js"></script>
<script src="../lib/components/data/vb-data-fetch.js"></script>
<script src="../lib/components/data/vb-data-filter.js"></script>
<script src="../lib/components/data/vb-data-vars.js"></script>
<script src="../lib/components/data/vb-data-xx-empty.js"></script>
<script src="../lib/components/forms/form-textarea.js"></script>
<script src="../lib/components/helpers/copy-to-clipboard.js"></script>
<script src="../lib/components/helpers/copy-to-clipboard2.js"></script>
<script src="../lib/components/helpers/highlight.js"></script>
<script src="../lib/components/helpers/spinner.js"></script>
<script src="../lib/components/live/live-icons-inner.js"></script>
<script src="../lib/components/live/live-icons.js"></script>
<script src="../lib/components/live/live-vue-inner.js"></script>
<script src="../lib/components/live/live-vue.js"></script>
<script src="../lib/components/modals/modal-blocking.js"></script>
<script src="../lib/components/modals/modal-error.js"></script>
<script src="../lib/components/modals/modal-hello.js"></script>
<script src="../lib/components/modals/modal-json.js"></script>
<script src="../lib/components/proto/proto.js"></script>
<script src="../lib/components/services/docker/docker-container-network.js"></script>
<script src="../lib/components/services/docker/docker-container-status.js"></script>
<script src="../lib/components/svg/svg-icon-ai.js"></script>
<script src="../lib/components/svg/svg-icon-check.js"></script>
<script src="../lib/components/svg/svg-icon-copy.js"></script>
<script src="../lib/components/svg/svg-icon-cross.js"></script>
<script src="../lib/components/svg/svg-icon-file-earmark-binary.js"></script>
<script src="../lib/components/svg/svg-icon-file-earmark-font.js"></script>
<script src="../lib/components/svg/svg-icon-file-earmark-image.js"></script>
<script src="../lib/components/svg/svg-icon-file-earmark-music.js"></script>
<script src="../lib/components/svg/svg-icon-file-earmark-play.js"></script>
<script src="../lib/components/svg/svg-icon-file-earmark-text.js"></script>
<script src="../lib/components/svg/svg-icon-file-earmark-zip.js"></script>
<script src="../lib/components/svg/svg-icon-file-earmark.js"></script>
<script src="../lib/components/svg/svg-icon-filetype-csv.js"></script>
<script src="../lib/components/svg/svg-icon-filetype-json.js"></script>
<script src="../lib/components/svg/svg-icon-filetype-md.js"></script>
<script src="../lib/components/svg/svg-icon-folder-fill.js"></script>
<script src="../lib/components/svg/svg-icon-folder.js"></script>
<script src="../lib/components/svg/svg-icon-icons8-107448-delete.js"></script>
<script src="../lib/components/svg/svg-icon-icons8-12053-document.js"></script>
<script src="../lib/components/svg/svg-icon-icons8-12141-file.js"></script>
<script src="../lib/components/svg/svg-icon-icons8-12229-home.js"></script>
<script src="../lib/components/svg/svg-icon-icons8-12775-opened-folder.js"></script>
<script src="../lib/components/svg/svg-icon-icons8-12778-picture.js"></script>
<script src="../lib/components/svg/svg-icon-icons8-12783-music.js"></script>
<script src="../lib/components/svg/svg-icon-icons8-folder.js"></script>
<script src="../lib/components/svg/svg-icon-icons8-image-file.js"></script>
<script src="../lib/components/svg/svg-icon-json.js"></script>
<script src="../lib/components/svg/svg-icon-search.js"></script>
<script src="../lib/components/svg/svg-icon-svgrepo-259551-hard-disk.js"></script>
<script src="../lib/components/svg/svg-icon-warn.js"></script>
<script src="../lib/components/tables/vb-table.js"></script>
<script src="../lib/components/tabs/vb-tabs-item.js"></script>
<script src="../lib/components/tabs/vb-tabs.js"></script>
<script src="../lib/components/vendor/fancybox.js"></script>
<script src="../lib/components/vendor/markdown.js"></script>
<script src="../lib/components/vendor/prism-html.js"></script>
<script src="../lib/components/vendor/prism-js.js"></script>

<script src="../lib/app.js"></script>
<script>
    app.mount('#app');
</script>

</body>
</html>
